@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* Custom CSS */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* full viewport height */
}

.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.png-container {
  width: 100%;
  height: 450px; /* Adjust the height as needed */
  overflow: hidden; /* This will hide any part of the SVG that overflows the container */
}

.full-width-png {
  width: 100%;
  height: auto;
  display: block; /* This removes any whitespace around the SVG */
}

html {
  scroll-behavior: smooth;
}

/* Define a new animation named arrow-bounce */
@keyframes arrow-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

/* Updated styles for scroll-btn and scroll-arrow */
.scroll-btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: none;
  border-radius: 15%;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.scroll-btn:hover {
  background-color: #cc0000;
}

.scroll-arrow {
  width: 24px;
  height: 24px;
  /* animation: arrow-bounce 1s infinite; */
  fill: currentColor;
}

.scroll-arrow:hover {
  fill: #fff;
}

.image-container-index {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh; /* Assuming a header height of 64px. Adjust if different. */
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/Hero.png");
  display: flex;
  align-items: center;
  justify-content: center; /* This centers the content of the container */
  padding: 1rem; /* Give it a bit of padding, especially for mobile devices */
}

/* Carousel Dots */
.carousel-dots {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 20px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  margin: 0 5px;
  transition: all 0.3s ease;
}

.slick-active .dot {
  background: #007bff; /* Blue, but you can change to any color */
  transform: scale(1.2);
}

/* Next/Prev Arrows (if you decide to use them in the future) */
.slick-next:before,
.slick-prev:before {
  color: #fff;
  font-size: 25px;
}

@media screen and (max-width: 640px) {
  /* Tailwind's default breakpoint for small screens */
  h2 {
    font-size: 4rem;
  }

  p {
    font-size: 0.875rem;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}

.custom-shape-divider-top-1693420302 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1693420302 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1693420302 .shape-fill {
  fill: #b91c1c;
}

.custom-shape-divider-top-1693420398 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1693420398 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1693420398 .shape-fill {
  fill: #000000;
}

.custom-shape-divider-top-1693420571 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1693420571 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1693420571 .shape-fill {
  fill: #000000;
}
