@tailwind base;
@tailwind components;
@tailwind utilities;

.png-container {
    width: 100%;
    height: 450px; /* Adjust the height as needed */
    overflow: hidden; /* This will hide any part of the SVG that overflows the container */
  }
  
  .full-width-png {
    width: 100%;
    height: auto;
    display: block; /* This removes any whitespace around the SVG */
  }